node_modules/*
.env
/src/public/beg/*
/src/public/bird/*
/src/public/birthday/*
/src/public/bite/*
/src/public/bully/*
/src/public/cat/*
/src/public/cheers/*
/src/public/cookie/*
/src/public/cop/*
/src/public/dab/*
/src/public/dog/*
/src/public/f/*
/src/public/fennec/*
/src/public/flex/*
/src/public/fox/*
/src/public/frog/*
/src/public/highfive/*
/src/public/hug/*
/src/public/kiss/*
/src/public/koala/*
/src/public/lick/*
/src/public/panda/*
/src/public/pat/*
/src/public/pikachu/*
/src/public/poke/*
/src/public/redpanda/*
/src/public/shame/*
/src/public/slap/*
/src/public/sloth/*
/src/public/wave/*
/src/public/wink/*
/src/public/wolf/*
