<%- include('partials/header') -%>
<%- include('partials/nav') -%>

<div class="main-wrapper">
    <div class="notfound-wrapper">
        <div class="notfound-featured">
            <div class="notfound-text">
                <h1>404</h1>
                <h2>Not Found</h2>
                <a href="/">Go back to home</a>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') -%>
