<%- include('partials/header') -%>
<%- include('partials/nav') -%>

<div class="main-wrapper">
    <div class="wrapper">
        <div class="main-content">
            <h1>Interactions</h1>
            <a href="/beg" class="btn-redirect empty">Beg</a>
            <a href="/birthday" class="btn-redirect empty">Birthday</a>
            <a href="/bite" class="btn-redirect empty">Bite</a>
            <a href="/bully" class="btn-redirect empty">Bully</a>
            <a href="/cookie" class="btn-redirect empty">Cookie</a>
            <a href="/cop" class="btn-redirect empty">Cop</a>
            <a href="/dab" class="btn-redirect empty">Dab</a>
            <a href="/flex" class="btn-redirect empty">Flex</a>
            <a href="/highfive" class="btn-redirect empty">Highfive</a>
            <a href="/hug" class="btn-redirect empty">Hug</a>
            <a href="/kiss" class="btn-redirect empty">Kiss</a>
            <a href="/lick" class="btn-redirect empty">Lick</a>
            <a href="/pat" class="btn-redirect empty">Pat</a>
            <a href="/poke" class="btn-redirect empty">Poke</a>
            <a href="/slap" class="btn-redirect empty">Slap</a>
            <a href="/shame" class="btn-redirect empty">Shame</a>
            <a href="/wave" class="btn-redirect empty">Wave</a>
            <a href="/wink" class="btn-redirect empty">Wink</a>

            <h1>Random</h1>
            <a href="/bird" class="btn-redirect empty">Bird</a>
            <a href="/cat" class="btn-redirect empty">Cat</a>
            <a href="/dog" class="btn-redirect empty">Dog</a>
            <a href="/fennec" class="btn-redirect empty">Fennec</a>
            <a href="/fox" class="btn-redirect empty">Fox</a>
            <a href="/koala" class="btn-redirect empty">Koala</a>
            <a href="/panda" class="btn-redirect empty">Panda</a>
            <a href="/pikachu" class="btn-redirect empty">Pikachu</a>
            <a href="/redpanda" class="btn-redirect empty">RedPanda</a>
            <a href="/sloth" class="btn-redirect empty">Sloth</a>
        </div>
    </div>
</div>

<%- include('partials/footer') -%>
