<!DOCTYPE html>
<html>

<head>
    <!-- Primary Meta Tags -->
    <title>Servant API</title>
    <meta name="title" content="Servant API — Random GIFs & Images">
    <meta name="description" content="Random GIFs & Images from different genres and categories">

    <!-- SEO -->
    <meta name="keywords" content="discord,discordbot,bot,bots,servant,moderation,information,fun,interaction,random,useful,role management,channel management,management,leveling,giveaways,giveaway,polls,poll,level,levels,social interactions,anime,voice management,voice channel,voice,embed,profile,birthday,coinflip,remindme,reminder,timezone">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="30 days">
    <meta name="author" content="Tancred#0001">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://api.servant.gg/">
    <meta property="og:title" content="Servant API — Random GIFs & Images">
    <meta property="og:description" content="Random GIFs & Images from different genres and categories">
    <meta property="og:image" content="https://i.imgur.com/lLuoClj.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://api.servant.gg/">
    <meta property="twitter:title" content="Servant API — Random GIFs & Images">
    <meta property="twitter:description" content="Random GIFs & Images from different genres and categories">
    <meta property="twitter:image" content="https://i.imgur.com/lLuoClj.jpg">

    <!-- Icon / Stylesheets -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/servant_ava.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Prompt">
    <link rel="stylesheet" href="/stylesheets/styles.css?v=0">

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/scripts/materialize.js"></script>
</head>

<body>
    <div class="jump-fix">
